@import "@digdir/designsystemet-css/index.css";
@import "./theme/wcag-errors.css";

:root {
  --page-max: 72rem;
  --page-gutter: 1rem;
}

body {
    background-color: var(--ds-color-background-default);
    font-family: "inter", sans-serif;
    color: var(--ds-color-text-default);
    margin: 0;

}

svg {
    height: var(--ds-size-18);
    width: auto;
}



header {
    margin: 0 auto;
	display: flex;
	width: 100%;
	gap: var(--ds-size-4);
	flex-wrap: wrap;
	justify-content: left;
	padding-block: var(--ds-size-6);
	/*padding-inline: var(--ds-size-4);*/
    background-color: var(--ds-color-base-default);
    color: var(--ds-color-base-contrast-default);
}

.main-nav {
  display: flex;
  gap: var(--ds-size-4);
}

.main-nav > .ds-link {
    color: var(--ds-color-base-contrast-default);
}   

footer {
    margin: 0 auto;
    margin-top: var(--ds-size-10);
	display: flex;
	width: 100%;
	gap: var(--ds-size-4);
	flex-wrap: wrap;
	justify-content: space-between;
	padding-block: var(--ds-size-6);
	padding-inline: var(--ds-size-4);
    background-color: var(--ds-color-background-default);
}

img {
    border-radius: var(--ds-border-radius-xl);
    outline: 10px solid var(--ds-color-border-strong);
    outline-offset: -10px;
    width: 100%;
    margin-top: var(--ds-size-6);
}

icon-leisegbrev.largeicon svg {
    height: 11em;
    width: auto;
    display:block;
    margin-inline: auto;
    margin-bottom: var(--ds-size-4);
}

icon-smilbrev.largeicon svg {
    height: 11em;
    width: auto;
    display:block;
    margin-inline: auto;
    margin-bottom: var(--ds-size-4);
}

.ds-dialog > .ds-button {
    margin-top: var(--ds-size-8);
}
.ds-dialog > .ds-paragraph {
    margin-top: var(--ds-size-2);
}

.iconheading {
    display:flex;
    align-items: center;
    gap: var(--ds-size-2);
}

.formcard {
    /*max-width: 36rem;*/
    display: grid;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: var(--ds-color-background-tinted);
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    gap: var(--ds-size-4);
   

}

.formcard > .ds-button:focus-visible {
    outline-color: lightsalmon;
}

.cardsection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: var(--ds-size-10);
    gap: var(--ds-size-6);
    align-items: stretch;

}

.cardsection > .ds-card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.cardsection > .ds-card > .ds-heading {
  min-height: calc(2 * 1em * var(--ds-heading-md-line-height));
}

.cardsection > .ds-card > .ds-paragraph {
  max-height: 130px;  
  overflow: hidden;
  
  
}

.container {
  width: min(100% - (2 * var(--page-gutter)), var(--page-max));
  margin-inline: auto;   /* sentrerer horisontalt */
  /*padding-inline: 1rem;  /* luft mot kantene */
}

.ds-card {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.reflow {
    max-height: 60vh;
    overflow: hidden;
}

.textbox {
    background-color: var(--ds-color-surface-tinted);
    border-radius: var(--ds-border-radius-xl);
    padding: var(--ds-size-6);
    /*margin-top: var(--ds-size-6); */
}

.textblock {
    padding-bottom: var(--ds-size-6);
}

.greenheading {
    color: #0DA06C;
}

.yellowheading {
    color: #7BA00D;
}

.blueheading {
    color: #817BF8;
}

.lowcontrast {
    background-color: var(--ds-color-surface-hover);
    color: var(--ds-color-border-subtle)
}

mark {
    background-color: var(--ds-color-base-default);
    color: var(--ds-color-text-default);
    border-radius: var(--ds-border-radius-sm);
    padding-left: var(--ds-size-1);
    padding-right: var(--ds-size-1);
}

.lowcontrastinput {
    border-color: var(--ds-color-border-subtle);

}

h2.ds-heading {
    margin-top: var(--ds-size-4);
    margin-bottom: var(--ds-size-4);
    
}
div.ds-heading {
    margin-top: var(--ds-size-4);
    margin-bottom: var(--ds-size-4);
}